$pale-silver: #c2b8b4ff;
$morning-blue: #90a88cff;
$hookers-green: #466b65ff;
$dark-slate-gray: #354a46ff;
$raisin-black: #24272eff;
$app-background-color: white;

$ultralight: $pale-silver;
$light: $morning-blue;
$medium: $hookers-green;
$dark: $dark-slate-gray;
$ultradark: $raisin-black;